.header{
    height: 80px;
    width: 100%;
    /*background-color: #00FF00;*/
    position: absolute;
    top:0%;
    box-shadow: 0px 4px 4px #BBBBBB;
}

.header .logo{
    height:90%;
    position: absolute;
    top:5%;
    left: 1%;
}

.header h1{
    height:90%;
    width: 10%;
    color:#4d58ab;
    position: absolute;
    top:25%;
    right:45%;
    text-align: center;
}

.header .pack-button{
    position: absolute;
    max-width: 45%;
    bottom:5%;
    right:0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header  .button{
    margin-left:1px;
    max-height:40px;
    width: 120px;
    min-height: 30px;
    background-color: #a2a8d8;

}

.header .active{
    background-color: #8891d8;
}

.body{
    min-height: 555px;
    max-height:620px;
    width: 100%;
    position: absolute;
    top:80px;
    background-color: transparent;
}

.mini-icone{
    height:2em;
}

.edt{
    max-width: 60%;
    max-height: 100%;
    position: absolute;
    top:0%;
    left:20%;
    text-align: center;
}

td{
    background-color: #bec5fc2e;
    border:1em;
    border-radius: 20%; 
}

.text{
    width: 10%;
}